body{
    margin: 0;
    padding: 0;

}

div{
    display: flex;
    justify-content: center;
    background-image: url("fondoformulario.jpg");
    align-items: center;
    height: 100vh;
    
       
}

form{
    display:flex;
    flex-direction: column;
    letter-spacing: 2px;
    color: bisque;
    border-radius: 10px;
    box-shadow: 0 0 4px 1px white;
    padding-left: 40px;
    padding-right: 40px;
    
        
}

label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    padding: 5px;
}

textarea{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    padding: 5px;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 0 4px 1px bisque;
    resize: vertical;

}

input[type=text],input[type=email]{
    padding: 8px;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 0 4px 1px bisque;
}

select{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 7px 0;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 0 4px 1px bisque;
    color: gray;

}

input[type=submit]{
    width: 100px;
    background-color: rgb(57, 8, 126);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:antiquewhite;
    margin: 20px;
    margin-left: 90px;
    padding: 8px;
    border: 1px solid black;
    font-size: 18px;
    letter-spacing: 1px;
    border-radius: 20px;
    box-shadow: 0 0 4px 1px bisque;
    cursor: pointer;
    
}

input[type=submit]:hover{
    background-color: rgb(82, 16, 145);
}
